body {
    background: #d2d2c1 url(img/fundo.png);
    font: 16px arial, helvetica, sans-serif;
} /*Podemos usar uma imagem e uma cor, a imagem ficar sobre a cor,a imagem precisar ser grande suficiente */

#principal {
    width: 900px ;
}

#menu {
    background: #c5c5b2 ;
    padding: 18px;
}

#conteudo {
    background: #e8e8d9;
    padding: 10px;
}

#rodape {
    text-align: center;
}

.centralizar {
    text-align: center;
}

a {
    color: #4b566a;
    text-decoration: none;/*NONE para esconder o UNDERLINE*/
    font-weight: bold;
    padding: 5px;/* PADDING dei um espaçamento nos links*/
}

h1 {
    color: #828271;
    font-size: 1.2em;
}

h2 {
    color: #828271; 
    font-weight: 700;
}

.fotos {
    border: 10px solid ; 
    color: #828271;
    
}